einops
requests
pytest
click
joblib
tqdm
ipykernel
notebook
flask
matplotlib
numpy-stl
mediapy
pandas
scikit-learn
wandb
ftfy
tensorboard
plotly
sympy
gdown
torchinfo
torchvision
openai==0.28
python-dotenv
tiktoken
